#{extends 'content.html' /}
#{set title:'Modules List' /}

<!--  Loading Markitup -->
<link rel="stylesheet" type="text/css" href="@{'/public/markitup/skins/markitup/style.css'}" />
<script type="text/javascript" src="@{'/public/markitup/jquery.markitup.js'}"></script>

<link rel="stylesheet" type="text/css" href="@{'/public/markitup/sets/textile/style.css'}" />
<script type="text/javascript" src="@{'/public/markitup/sets/textile/set.js'}"></script>

<script language="javascript">
$(document).ready(function()    {
    $('#wiki').markItUp(mySettings);
});
</script>
<!-- End markitup -->

<h1>Administration of Modules :</h1>

<p>Here the complete list of all the modules hosted inside this repository.</p>

<div id="modules">
#{list items:modules.modules, as:'module'}
    <div class="module">
        <h2>[${module.name}]&nbsp;${module.fullname} [#{a @Admin.delete(module.id)}Delete#{/a}]</h2>
        <p>${controllers.Wikitext.render(module.description).raw()}</p>
        <p>#{a @Admin.show(module.id)}Get details and versions#{/a}</p>
    </div>
#{/list}
#{else}
    <p>There is no module in this repository.</p>
#{/else}
</div>

<h1>Admin actions :</h1>

<!-- <button id="addModuleCommand" class="buttons" type="submit" class="positive">Add a module</button> -->
<h2 id="addModuleCommand" class="command">Add a module</h2>

<div id="addModule" style="display:none;">
#{form @Admin.add()}
    
    <div>
        <label>Enter the name of the module :</label>
    </div>
    <div>
        <input type="text" name="name" value="${flash.name}" />
        <span class="error">#{error 'name' /}</span>
        <span class="error">#{error 'other' /}</span>
    </div>
    <div>
        <label>Enter the full name :</label>
    </div>
    <div>
        <input type="text" name="fullname" value="${flash.fullname}" />
        <span class="error">#{error 'fullname' /}</span>
    </div>
    <div>
        <label>Enter the author :</label>
    </div>
    <div>
        <input type="text" name="author" value="${flash.author}" />
        <span class="error">#{error 'author' /}</span>
    </div>
    <div>
        <label>Description (optional) :</label>
    </div>
    <div>
        <textarea id="wiki" name="description" cols="70" rows="20">
            Description ...
        </textarea>
        <span id="submit"><button id="addModuleSubmit" class="buttons" type="submit" class="positive">Add</button></span>
    </div>
    
#{/form}
</div>

<script>
    $("#addModuleCommand").click(function () {
      if ($("#addModule").is(":visible")) {
    	  $("#addModule").hide();
      } else {
    	  $("#addModule").show();
      }
    });
</script>