#{extends 'content.html' /}
#{set title:'Modules List' /}

<h1>Administration of Modules :</h1>

<p>Here the complete list of all the modules hosted inside this repository.</p>

<div id="modules">
#{list items:modules.modules, as:'module'}
    <div class="module">
        <h2>[${module.name}]&nbsp;${module.fullname} [#{a @Admin.delete(module.id)}Delete#{/a}]</h2>
        <p>${module.description}</p>
        <p>#{a @Application.module(module.name)}Get details and versions#{/a}</p>
    </div>
#{/list}
#{else}
    <p>There is no module in this repository.</p>
#{/else}
</div>

<h1>Admin actions :</h1>

<div class="buttons"><button id="addModuleCommand" type="submit" class="positive">Add a module</button></div>

<div id="addModule" style="display:none;">
#{form @Admin.add()}
    <p>
        <label>Enter the name of the module :</label>
        <input type="text" name="name" />
    </p>
    <p>
        <label>Enter the full name :</label>
        <input type="text" name="fullname" />
    </p>
    <p>
        <input type="submit" value="Add" />
    </p>
    
#{/form}
</div>

<script>
    $("#addModuleCommand").click(function () {
      if ($("#addModule").is(":visible")) {
    	  $("#addModule").hide();
      } else {
    	  $("#addModule").show();
      }
    });
</script>