#{extends 'content.html' /}
#{set title:'Module Administration' /}

<h1>${module.fullname} [${module.name}] module</h1>

<p>${module.description}</p>

<p><a href="${module.url}">${module.url}</a> , written by ${module.author}.</p>

<h2>Published releases</h2>

<p>To install one of these modules use the <strong>install</strong> command:</p>

<pre><code>play install ${module.name}-{version}</code></pre>

<p>Check the documentation link of each release to check version notes.</p>

<table>
    <tbody>
        #{list items:module.versions, as:'version'}
        <tr>
            <td><strong>${module.name}-${version.version}</strong></td>
            <td>${version.publicationDate}</td>
            <td>Documentation</td>
            <td>#{a @Application.download(module.name, version.version)}Download#{/a}</td>
        </tr>
        #{/list}
    </tbody>
</table>

<h1>Admin actions :</h1>

<!-- <button id="addVersionCommand" class="buttons" type="submit" class="positive">Add a version</button> -->
<h2>Add a version :</h2>

<div id="addVersion"><!-- style="display:none;" -->
<form action="@{Admin.addVersion()}" method="POST" enctype="multipart/form-data">
    <p>
        <div>
            <label>Version :</label>
        </div>
        <div>
            <input type="text" name="version.version" value="${flash.version?.version}" />
            <span class="error">#{error 'version.version' /}</span>
            <input type="hidden" name="id" value="${module.id}" />
        </div>
    </p>
    <p>
        <div>
            <label>Is Default :</label>
        </div>
        <div><input type="radio" id="isDefaultTrue" name="version.isDefault" value="true"/><label for="isDefaultTrue">True</label></div>
        <div><input type="radio" id="isDefaultFalse" name="version.isDefault" value="false" /><label for="isDefaultFalse">False</label></div>
    </p>
    <p>
        <div>
            <label>Matches version of Play! framework:</label>
        </div>
        <div>
            <input type="text" name="version.matches" value="${flash.version?.matches}" />
            <span class="error">#{error 'version.matches' /}</span>
        </div>
    </p>
    <p>
        <div>
            <label>Artefact:</label>
        </div>
        <div>
            <input type="file" name="artefact" />
            <span class="error">#{error 'artefact' /}</span>
            <span id="submit"><button id="addMVersionSubmit" class="buttons" type="submit" class="positive">Add</button></span>
        </div>
        
    </p>
</form>
</div>

<script>
    $("#addVersionCommand").click(function () {
      if ($("#addVersion").is(":visible")) {
          $("#addVersion").hide();
      } else {
          $("#addVersion").show();
      }
    });
</script>